:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242432;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  margin: 10px;
}

.login, .register, .suggestions, .composer_profile{
  border: 3px solid black;
  border-radius: 20px;
  margin: 10px;
  padding: 20px;
}

.email, .password, .login_button, .work, .composer, .add_to_list_button, .userName {
  margin: 20px;
}

.page_title{
  border: 2px solid #00ff00;
  border-radius: 20px;
  margin: 10%
}

.page_sub_title{
  border: 2px solid #00ff00;
  border-radius: 20px;
  margin: 5%;
  padding: 5px;
}

.thumbnail{
  border-radius: 10px;
  width: 75px;
  height: 75px;
}

img{
  border-radius: 25%;
  width: 300px;
}

.work_and_name_and_img{
  display: inline-flex;
  margin: 10px;
}

.work_and_name {
  margin: 20px;
}

.list{
  border: 3px solid black;
  border-radius: 20px;
  margin: 10px;
}

li {
  list-style: none;
  width: 100%;
}

.listing{
  display: flex;
  justify-content: space-around;
  margin: 10px;
  border-top: 1px dashed rgb(162, 48, 162);
  padding-top: 10px;
}

a {
  font-weight: 500;
  color: #b5b9f8;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 2px solid #aaaaaa;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color .5s;
  margin: 3px;
}
button:hover {
  border-color: #00ff00;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #0000ff;
  }
  button {
    background-color: #f9f9f9;
  }
}
